.notification {
    color: #2b4832;
    background-color: #e7f7f5;
    font-size: 19px;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(30, 30, 30, 0.3);
  }
  
  .notification.error {
    color: #2b4832;
    background-color: #f7e7e7;
  }
  
  .unstyled-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  button {
    background-color: rgb(228, 104, 93);
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 5px 12px;
    box-shadow: 0 2px 4px rgba(30, 30, 30, 0.3);
  }

  body {
    background-color: #202020;
    color: white;
  }

  a {
    color: white;
  }